/* html {
    line-height: 0;
} */

body,
input,
textarea,
button,
select {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}

.navbar-menu-area ul {
    text-align: center;
}

.navbar-menu-area ul li {
    display: inline;
    /* float: none; */

}

.navbar-menu-area ul li a {
    display: inline-block;
    color: black;
    font-size: 12px;
}



.top-navbar ul {
    margin: 5px 0px;
}

.top-navbar ul li {
    display: inline-block;

}

.top-navbar ul li a {
    font-size: 10px;
    display: block;
    padding: 3px 10px;
    text-transform: uppercase;
    color: black;
    /* padding: 10px 12px; */
}

.top-navbar ul li i {
    font-size: 10px;
}

.top-navbar-right ul li {
    float: right;
}

nav .sidenav-trigger i {
    color: black;
}

@media (max-width: 991px) {
    .mobile_menu_toggle {
        height: 20px;
        width: 20px;
        position: relative;
        display: inline-block;
    }

    .mobile_menu_toggle i {
        height: 1px !important;
        width: 20px;
        background-color: #000;
        position: absolute;
        transition: .3s;
        -webkit-transition: .3s;
        left: 0;
    }

    .mobile_menu_toggle i:nth-child(2) {
        top: 10px;
        opacity: 1;
        width: 10px;
        left: 5px;
    }

    .mobile_menu_toggle i:last-child {
        top: 17px;
    }

    .mobile_menu_toggle i:first-child {
        top: 3px;
    }
}

/* topnav hiding */
.nav-up {
    top: -40px;
}

/* cartmenu */
#cartmenu {
    position: fixed;
    width: 300px;
    right: 0;
}
.sidenav-overlay {

    background-color: transparent;
    /* display: none!important; */
}


/***/

.product-card {
    position: relative;
    display: inline-block;
    /* margin: 50px; */
}

.product-card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.product-card:hover .img-top {
    display: inline;
}

.product-title {
    position: absolute;
    left: 10px;
    bottom: 15px;
    z-index: 999;
    color: #fff;
    padding: 8px 12px;
    background: rgba(0, 0, 0, 0.2);
    width: calc(100% - 20px);
    text-transform: uppercase;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s all;
}

.product-card:hover .product-title {
    visibility: visible;
    opacity: 1;
}

a.card-title.center-align.product-title:hover {
    background: rgba(0, 0, 0, 0.8);
}

/**/
.breadcrumb {
    font-size: 10px;
}

.breadcrumb:before {
    color: black;
    font-size: 10px;
    margin: 0;
}

/**Product page sidebar*/
.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
}

/**footer area*/
.footer-social img {
    height: 20px;
    width: 20px;
}

ul.footer-social li {
    display: inline-block;
}


/***start**/

.py15 {
    padding: 15px 0px !important;
}
.px45 {
    padding: 0px 45px !important;
}

.row {
    margin-bottom: 0px !important;
}

/***end**/