
.product-size span {
    display: inline-block;
    padding: 8px;
    font-size: 10px;
    border: 1px solid #eee;
    cursor: pointer;
    min-width: 45px;
    transition: 0.4s all;
}

.product-size .active {

    background: #000;
    border-color: #000;
    color: #fff;
}

.product-size span:hover {
    border-color: #000;
}

/**Quantity**/

.qtyAdjust .adjust {
    border: 1px solid #eee;
    text-align: center;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    padding: 3px 13px;
}
.qtyAdjust .adjust:hover{
    border-color:black; 
}

.qtyAdjust .quantity {
    background: no-repeat;
    height: 40px;
    width: 60px!important;
    text-align: center;
 
}

.qtyAdjust.quantity, .qtyAdjust.quantity, input[type=text]{
    border-bottom: none!important;
}
.qtyAdjust.quantity, input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

input#quantity:hover {
    border-color: black;
}

/****/
.cart-social-area i{
    cursor: pointer;
    font-size: 20px;
    padding-left:10px;
    padding-right:10px; 
}
.cart-social-area i:hover{
    color:#3DBCB6;
}
/****/
.sticky-cart-area {
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
}